<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>спа номер</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="/spahotel/public/stylesheets/index.css">
  </head>
  <body>
<form action="indexthird" method="post">
  <div class="row">
      <div class="medium-6 columns">
        <img class="thumbnail" src="https://sborhotel.ru/wp-content/uploads/2019/08/xMG_8133-HDR-2-e1568798666800.jpg.pagespeed.ic._bzwQ_3Bz4.webp">
        <div class="row small-up-4">
          <div class="column">
            <img class="thumbnail" src="https://sborhotel.ru/wp-content/uploads/2020/05/x7507ACA1-2273-4487-BAE2-881175FC383F-1024x768.jpeg.pagespeed.ic.36cusMTlYg.webp">
          </div>
          <div class="column">
            <img class="thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKheirDaVWnC-fFtk3mNrsYrZyOfd3yRinzT38x2SNuMms3c-pkzBBS85ZSSDNf-aSDxg&usqp=CAU">
          </div>
          <div class="column">
            <img class="thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS50J0Nbsy3KpnzxYunhN-97yAtPHNprO-Kg&usqp=CAU">
          </div>
          <div class="column">
            <img class="thumbnail" src="https://sborhotel.ru/wp-content/uploads/2023/03/xIMG_9866-2-2048x1536.jpg.pagespeed.ic.ngzkGea-Ny.webp">
          </div>
        </div>
      </div>
      <div class="medium-6 large-5 columns">
        <h3>спа номер</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium enim quidem dolorum corporis. Ab placeat, eum sunt at, vitae facere asperiores repellat obcaecati ducimus, quas voluptates sint quam expedita harum.</p>

        <a href="#" class="button large expanded">забронировать</a>

        <div class="small secondary expanded button-group">
            <a class="button">telegram</a>
            <a class="button">instagram</a>
            <a class="button">VK</a>
          </div>
        </div>
    </div>

    <div class="column row">
      <hr>
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">отзывы</a></li>
        <li class="tabs-title"><a href="#panel2">похожие номера</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel1">
          <h4>отзывы</h4>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQasuS3tsl8LlGhtlfQn4O7csUl4fgHG9O1cw&usqp=CAU">
            </div>
            <div class="media-object-section">
              <h5>гость</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse magni nisi officiis nihil. Impedit porro blanditiis exercitationem facere, accusamus nulla atque ipsam quas corrupti aperiam temporibus, delectus recusandae, architecto quibusdam?</p>
            </div>
          </div>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGpDwYPjHAi_JcTlwJLvmIYwzC1qzDVKy3kg&usqp=CAU">
            </div>
            <div class="media-object-section">
              <h5>гость</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, suscipit labore accusantium itaque rem corrupti mollitia qui sequi magni voluptate iste ipsam, dignissimos vitae voluptatibus nobis quaerat rerum illum dolores.</p>
            </div>
          </div>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <img class="thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqiKHNrYuQPN7VRHS_bwrnQLLZYq_spxIx3Q&usqp=CAU">
            </div>
            <div class="media-object-section">
              <h5>гость</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio culpa provident excepturi asperiores sunt magni sed eaque qui tempora sint ad voluptates laudantium, illum libero? Tempora ducimus voluptas neque dicta.</p>
            </div>
          </div>
          <label>
            <p>мой отзыв</p>
            <textarea placeholder="None"></textarea>
          </label>
          <button class="button">отправить</button>
        </div>
        <div class="tabs-panel" id="panel2">
          <div class="row medium-up-3 large-up-5">
            <div class="column">
              <img class="thumbnail" src="https://sborhotel.ru/wp-content/uploads/2019/07/xMG_7879-HDR-1-1024x576.jpg.pagespeed.ic.m9LmziK2Bp.webp">
              <h5>спа номер</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptate aliquid mollitia cupiditate eligendi nostrum ea iure ducimus, tempore rem alias laboriosam obcaecati inventore explicabo consectetur tenetur hic saepe consequuntur?</p>
              <a href="#" class="button hollow tiny expanded qqqq">подробние</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="https://s.101hotelscdn.ru/uploads/image/hotel_image/421/2849428.jpg">
              <h5>спа номер</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nulla eum facilis quibusdam quae tempore velit, vitae itaque tenetur ipsum alias facere consectetur hic iure molestias reprehenderit consequatur rerum deserunt.</p>
              <a href="#" class="button hollow tiny expanded wwww ">подробние</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="https://sborhotel.ru/wp-content/uploads/2019/08/xMG_0175-HDR-1024x576.jpg.pagespeed.ic.lpfXNFccgT.webp">
              <h5>спа номер</h5>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro a, quidem possimus ratione eum placeat officiis assumenda earum aspernatur tempora alias nihil natus esse accusamus facere velit iure! Adipisci, esse..</p>
              <a href="#" class="button hollow tiny expanded eeee">подробние</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="https://sborhotel.ru/wp-content/uploads/2021/05/xMG_5931-HDR-1024x683.jpg.pagespeed.ic.0wSn0g5tOR.webp">
              <h5>спа номер</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora commodi aut omnis aperiam at consectetur, sapiente est possimus quisquam error autem deserunt qui obcaecati iure magnam, perferendis soluta iste? Magnam.</p>
              <a href="#" class="button hollow tiny expanded rrrr ">подробние</a>
            </div>
            <div class="column">
              <img class="thumbnail" src="https://sborhotel.ru/wp-content/uploads/2019/08/MG_8029-HDR-1024x576.jpg">
              <h5>спа номер</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ut cumque quasi, sed voluptatum voluptatem sunt corporis, eligendi omnis sint delectus aperiam quaerat itaque laboriosam id nam sequi eum iusto.</p>
              <a href="#" class="button hollow tiny expanded tttt">подробние</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row column">
      <hr>
      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>



    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
</form>
  </body>
</html>