<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/reserve.css">
    <title>бронирование</title>
</head>
<body>
    <main>
        <form class="rr" action="resrve" method="post">
            <div>
                <input type="text" placeholder="имя" class="ewq" >
            </div>
            <div>
                <input type="text" placeholder="фамилия" class="qq">
            </div>
            <div>
                <input type="text" placeholder="отчество" class="ee">
            </div>
            <div>
                <input type="text" placeholder="номер телефона" class="ww">
            </div>
                <div><button>забронировать</button></div>
                 </form>
    </main>
</body>
</html>