.q {
    margin-top: 29px;
}
.w {
    margin-top: 18px;
}
.e {
   margin-top: 56px;
}
.r{
    margin-top: 30px;
}
.t {
    margin-top: 62px;
}

.qq {
    margin-top: 27px;
}
.ee{
    margin-top: 55px;
}
.rr {
    margin-top: 30px;
}
.tt{
    margin-top: 62px;
}
.qqq{
    margin-top: 29px;
}
.eee {
    margin-top: 54px;
}
.rrr {
    margin-top: 28px;
}
.ttt {
    margin-top: 79px;
}
.qqqq {
    margin-top: 37px;
}
.wwww{
    margin-top: 24px;
}
.eeee {
    margin-top: 62px;
}
.tttt {
    margin-top: 87px;
}
.qqqqq {
    margin-top: 39px;
}
.wwwww {
    margin-top: 26px;
}
.eeeee {
    margin-top: 63px;
}
.ttttt {
    margin-top: 87px;
}
.qqqqqq {
    margin-top: 36px;
}
.wwwwww {
    margin-top: 36px;
}
.eeeeee {
    margin-top: 62px;
}
.tttttt {
    margin-top: 87px;
}